<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app id="WebApp_ID">
  <display-name>ServletExample</display-name>
  <servlet>
  	<servlet-name>HelloWorldExample</servlet-name>
  	<display-name>HelloWorldExample</display-name>
  	<description></description>
  	<servlet-class>com.coforge.servletJenkinsEx.HelloWorldExample</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HelloWorldExample1</servlet-name>
  	<display-name>HelloWorldExample1</display-name>
  	<description></description>
  	<servlet-class>com.coforge.servletJenkinsEx.HelloWorldExample1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloWorldExample</servlet-name>
  	<url-pattern>/HelloWorldExample</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HelloWorldExample1</servlet-name>
  	<url-pattern>/HelloWorldExample1</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>default.html</welcome-file>
  	<welcome-file>default.htm</welcome-file>
  	<welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
